.header {
    background-color: #fff;
    z-index: 99999;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 3px 3px #495e57;
    margin: 0;
    left: 0;
    right: 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    margin: 0 auto;
    background-color: #fff;
    padding: 5px 0;
}


.image-wrapper {
    max-width: 200px;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}



@media only screen and (max-width: 1024px) {

    .header {
        position: fixed;
    }
    
    .header-wrapper {
        width: 100%;
        padding: 0px 30px;
        position: fixed;
        z-index: 2;
    }

    .hamburger {
        z-index: 3;
    }

    .header-wrapper .mobile-nav ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        text-align: right;
        padding: 60px 30px 30px;
        background: rgba(255,255,255,1);
        z-index: 1;
        border-bottom: 10px solid #495e57;
    }
    
    .header-wrapper .mobile-nav ul li {
        padding: 7px 0;
    }
}


@media only screen and (max-width: 350px) {
    .image-wrapper img {
        height: 30px;
    }
}